* {
    color: var(--color-text);
    margin: 0;
    /* font-family: var(--font-main);
    font-variation-settings: var(--settings-sans); */
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

html {
    /* using */
    /* old
    --color-background: #1f1d36;
    --color-element: #01151B;
    --color-text: #FFFFFA;
    --color-text-shadow: #8aa89b;
    --color-progress-bar: #ffbd42;
    --color-xp-bar-shadow: #e76f51; */
    --color-background: #16130f;
    --color-element: #231942;
    --color-textbox-background: #221d33;
    --color-text: #E0B1CB;
    --color-text-shadow: #BE95C4;
    --color-progress-bar: #ffbd42;
    --color-xp-bar-shadow: #e76f51;
    /* not using*/
    --color-dark-text: #A0A0A0;
    --color-purple-text: #FA198B;
    --color-newsticker: #010203;
    --color-tickspeed: #1e90e1;
    --color-heroes: #52b788;
    --color-common: #00A6FB;
    --color-rare: #FB6617;
    --color-legendary: #CE84AD;
    --color-infinity: #466e99;
    /**/
    --rgb-button: 72, 86, 150;
    --rgb-backpack-button: 72, 40, 22;
    --rgb-backpack-button-selected: 123, 87, 45;
    --rgb-harvest-button: 255, 188, 66;
}

body {
    min-height: 810px;
    min-width: 1080px;
    font-size: 15px;
    justify-content: space-around;
    display: flex;
    background-color: var(--color-background);
}

.shop,
.menu-mats button,
.inventory>div>div,
.inventory>#toolpack,
.cave,
.popups>div,
.ascii>*:not(.forest-bg),
#autoChop,
[id^=harvest-] {
    display: none;
}

.content {
    margin: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(40% + 650px);
}

button {
    --this-rgb: var(--rgb-button);
    background: rgb(var(--this-rgb));
    border: 0;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    box-shadow: 0.25em 0.25em 0 rgba(var(--this-rgb), 0.5);
    cursor: pointer;
    font-size: 0.85em;
}

button:hover {
    filter: brightness(1.2);
}

button:disabled {
    filter: brightness(0.7);
    cursor: auto;
}

.background {
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.bg {
    z-index: -2;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--color-element);
    border-radius: 10px;
}

.ascii * {
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-family: 'menlo-regular', monospace;
    font-size: 0.94em;
    text-align: left;
}

.ascii>* {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.forest-bg {
    position: relative;
    bottom: 40px;
}

#tree1 {
    position: relative;
    bottom: 40px;
}

[id^="tree"]:nth-child(1),
[id^="tree"]:nth-child(3) {
    position: relative;
    top: 40px;
}

.shop-bg {
    justify-content: space-around;
    font-size: 0.75em;
}

#maccaTheShopGuy {
    position: relative;
    right: 100px;
}

.main-screen {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    margin: 0.75em 0em;
    font-size: 1.25em;
}

.level-bar {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#progress-xp {
    width: 80%;
    height: 1rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px var(--color-xp-bar-shadow);
}

.progress-bar {
    --this-rgb: var(--rgb-harvest-button);
    background: rgb(var(--this-rgb));
    background-color: var(--color-progress-bar);
    /* box-shadow: 0.25em 0.25em 0 rgba(var(--this-rgb), 0.2); */
    height: 100%;
    border-radius: inherit;
}

.menus {
    z-index: 3;
    position: relative;
    flex-grow: 1;
    width: 100%;
}

.menus>div {
    position: inherit;
    width: inherit;
}

.menus>div>div {
    position: absolute;
}

.menu-mats button:disabled {
    filter: brightness(1);
    cursor: auto;
}

.menu-mats [id^="harvest-"],
#xp-bar {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

[id^="harvest-"] [id^="progress-"] {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
}

[id^="harvest-"] span {
    z-index: 1;
    text-shadow: 1px 1px 3px var(--color-text-shadow);
}

#harvest-log-1 {
    position: absolute;
    top: 162px;
    left: 44px;
}

#harvest-log-2 {
    position: absolute;
    top: 44px;
    left: calc(50% + 16px);
}

#harvest-log-3 {
    position: absolute;
    top: 103px;
    right: 111px;
}

.menu-mats {
    width: 100%;
}

.sellButton {
    top: 276px;
    left: calc(50% - 122px);
}

.tools {
    left: calc(50% - 364px);
    row-gap: 25px;
    bottom: -350px;
    display: flex;
    flex-direction: column;
}

.shopMessage {
    position: absolute;
    left: calc(50% + 310px);
    top: 170px;
}

.tips {
    top: 300px;
    left: calc(50% + 300px);
}

.textbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
    overflow: hidden;
    background-color: var(--color-textbox-background);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.6), inset 0px 0px 25px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 25px 25px;
    border: 9px outset var(--color-element);
}

.textbox>div {
    padding: 10px;
}

div#text {
    position: absolute;
    top: calc(100% - 18px);
}

div#text p {
    margin-top: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    order: 10;
}

.sidebar button {
    z-index: 99;
    background: none;
    border: none;
    padding: unset;
    box-shadow: none;
    cursor: pointer;
    position: relative;
}

.popups {
    z-index: 90;
    display: flex;
    top: 14%;
    position: absolute;
    justify-content: space-around;
    width: inherit;
}

.setting-menu {
    position: relative;
}

.saveButtons {
    display: flex;
    height: 30px;
    column-gap: 10px;
    margin-bottom: 10px;
}

.saveButtons button {
    width: 90px;
}

.save-menu {
    margin: 15px;
    position: absolute;
    top: 0;
}


/* toggleBoxes */

.toggleBoxes>label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggleBoxes>label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.backpack-tabs {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    column-gap: 4px;
    position: relative;
    top: 1px;
}

.backpack-tabs button {
    position: relative;
    top: 20px;
    left: 20px;
    width: 65px;
    height: 45px;
    /**/
    --this-rgb: var(--rgb-backpack-button);
    background: rgb(var(--this-rgb));
    border-width: 0px;
    border-color: rgb(var(--rgb-backpack-button));
    font-weight: bold;
    box-shadow: 4px -4px 0px rgba(var(--this-rgb), 0.5);
    text-shadow: 1px 1px 3px var(--color-text-shadow);
}

.backpack-tabs button span {
    position: relative;
    top: -7px;
}

.backpack-tabs button.selected {
    /**/
    --this-rgb: var(--rgb-backpack-button-selected);
    background: rgb(var(--this-rgb));
    border: 20px;
    border-color: rgb(var(--rgb-backpack-button));
    box-shadow: 4px -4px 0px rgba(var(--this-rgb), 0.5);
    filter: brightness(1);
    z-index: 2;
}

.inventory {
    z-index: 1;
    --image-b: 25px;
    --image-w: calc(370px - calc(2*var(--image-b)));
    --image-h: calc(530px - calc(2*var(--image-b)));
    background-image: url(../assets/inventory.svg);
    height: var(--image-h);
    width: var(--image-w);
    padding: var(--image-b);
    /**/
    position: relative;
}

#matpack {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 95px);
}
