html {
    --color-background: #1f1d36;
    --color-text: #FFFFFA;
    --color-dark-text: #A0A0A0;
    --color-purple-text: #FA198B;
    --color-version-control: #261C15;
    --color-newsticker: #010203;
    --color-element: #01151B;
    --color-tickspeed: #1e90e1;
    --color-heroes: #52b788;
    --color-common: #00A6FB;
    --color-uncommon: #ffbd42;
    --color-rare: #FB6617;
    --color-legendary: #CE84AD;
    --color-infinity: #466e99;
    /**/
    --rgb-button: 72, 86, 150;
    --rgb-backpack-button: 72, 40, 22;
    --rgb-backpack-button-selected: 123, 87, 45;
    --rgb-harvest-button: 255, 188, 66;
}

body {
    margin: 1%;
    min-height: 700px;
    height: 90vh;
    min-width: 1000px;
    font-size: 15px;
    justify-content: space-around;
    display: flex;
    background: var(--color-background);
}

* {
    color: var(--color-text);
    margin: 0;
    /* font-family: var(--font-main);
    font-variation-settings: var(--settings-sans); */
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
}

button {
    --this-rgb: var(--rgb-button);
    background: rgb(var(--this-rgb));
    border: 0;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    box-shadow: 0.25em 0.25em 0 rgba(var(--this-rgb), 0.5);
    cursor: pointer;
    font-size: 0.85em;
}

button:hover {
    filter: brightness(1.2);
}

button:disabled {
    filter: brightness(0.7);
    cursor: auto;
}

.main-screen {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25em;
    margin: 0.75em 0em;
}

.level-bar {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#progress-xp {
    width: 80%;
    height: 1rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #e76f51;
}

.progress-bar {
    --this-rgb: var(--rgb-harvest-button);
    background: rgb(var(--this-rgb));
    background-color: var(--color-uncommon);
    /* box-shadow: 0.25em 0.25em 0 rgba(var(--this-rgb), 0.2); */
    height: 100%;
    border-radius: inherit;
}

.menu-mats button:disabled {
    filter: brightness(1);
    cursor: auto;
}

.menu-mats [id^="harvest-"],
#xp-bar {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

[id^="harvest-"] [id^="progress-"] {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
}

[id^="harvest-"] span {
    z-index: 1;
    text-shadow: 1px 1px 3px #8aa89b;
}

.upgrades,
.tools {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}

.sellButtons,
.menu-mats {
    display: grid;
    height: 70px;
    grid-template-columns: repeat(3, 120px);
    column-gap: 10px;
    margin-bottom: 10px;
}

.textbox {
    overflow: hidden;
    background-color: #CE84AD;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    order: 10;
}

.sidebar button {
    z-index: 10;
    background: none;
    border: none;
    padding: unset;
    box-shadow: none;
    cursor: pointer;
    position: relative;
}

.setting-menu {
    position: relative;
}

.saveButtons {
    display: flex;
    height: 30px;
    column-gap: 10px;
    margin-bottom: 10px;
}

.saveButtons button {
    width: 90px;
}

.save-menu {
    margin: 15px;
    position: absolute;
    top: 0;
}

.popups {
    display: flex;
    top: 14%;
    position: absolute;
    justify-content: space-around;
    width: inherit;
}

.backpack-tabs {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    column-gap: 4px;
    position: relative;
    top: 1px;
}

.backpack-tabs button {
    position: relative;
    top: 20px;
    left: 20px;
    width: 65px;
    height: 45px;
    /**/
    --this-rgb: var(--rgb-backpack-button);
    background: rgb(var(--this-rgb));
    border-width: 0px;
    border-color: rgb(var(--rgb-backpack-button));
    font-weight: bold;
    box-shadow: 4px -4px 0px rgba(var(--this-rgb), 0.5);
    text-shadow: 1px 1px 3px #8aa89b;
}

.backpack-tabs button span {
    position: relative;
    top: -7px;
}

.backpack-tabs button.selected {
    /**/
    --this-rgb: var(--rgb-backpack-button-selected);
    background: rgb(var(--this-rgb));
    border: 20px;
    border-color: rgb(var(--rgb-backpack-button));
    box-shadow: 4px -4px 0px rgba(var(--this-rgb), 0.5);
    filter: brightness(1);
    z-index: 2;
}

.inventory {
    z-index: 1;
    --image-b: 25px;
    --image-w: calc(370px - calc(2*var(--image-b)));
    --image-h: calc(530px - calc(2*var(--image-b)));
    background-image: url(../assets/inventory.svg);
    height: var(--image-h);
    width: var(--image-w);
    padding: var(--image-b);
    /**/
    position: relative;
}

#matpack {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 95px);
}

.menu-shop,
.menu-mats button,
.inventory>div>div,
.cave,
.popups>div {
    display: none;
}
